/* Pages */
.page{
	height: 100%;
	min-height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
#name{
	text-align: center;
}
#Landing{
	display: block;
	background-image: url('../pics/lightDarkGreyRed.png');
	background-position: bottom;
}
.landingShoe{
	margin: auto;
	position: absolute;
	right: 0;
	top: 200px;
	width:	800px;
	height: 525px;
	/*background-image: url('../pics/jordan8.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;*/
	z-index: 99;
}
.landingShoe > img{
	margin: auto;
	height: 100%;
	width: 100%;
}
#release{
	margin: auto;
	position: absolute;
	top: 150px;
	font-size: 50px;
	padding: 10%;
}
.exploreButton{
	position: absolute;
	margin: auto;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: .5%;
	padding-bottom: .5%;
	font-size: 20px;
	top: 420px;
	left: 15%;
	border: 1px solid black;
	cursor: pointer;
}
.exploreButton:hover{
	color: white;
	background-color: #C12328;
	border-color: #C12328;
}
hr{
	width:50%;
}
#Shoes{
	text-align: center;
}
#shoeColumn{
	height:450px;
}
.shoesChildContent{
	position: relative;
	height: 525px;
	top:50%;
	transform: translateY(-50%);
}
.shoesName{
	text-align: center;
	margin: auto;
	padding-top: 60px;
	padding-bottom: 50px;
}
.shoesD{
	font-size: 20px;
}
.shoeIcons{
	height:	150px;
	width: 150px;
	display: block;
	margin: auto;
	opacity: 0;
}
.fa{
	color:#C12328;
}
.cleaning{
	margin: auto;
	position: relative;
	height: 100%;
	width: 33.33%;
	float: left;
	text-align: center;
}
.shoesButton{
	margin: auto;
	position: absolute;
	display: block;
	border: 2px solid #C12328;
	border-radius: 8px;
	color:  #C12328;
	width:	20%;
	text-align: center;
	cursor: pointer;
	bottom:20%;
	left:0;
	right:0;
	opacity: 0;
}
.restore{
	margin: auto;
	position: relative;
	height: 100px;
	width: 33.33%;
	float: left;
}
.custom{
	margin: auto;
	position: relative;
	height: 100px;
	width: 33.33%;
	float: left;
}
#Events{
	background-image: url('../pics/greyAngleBackTop.png');
	background-position: top;
	text-align: center;
}
#Music{
	background-image: url('../pics/MusicBack.png');
	background-position: bottom;
	text-align: center;
}
#About{
	background-image: url('../pics/AboutBack.png');
	background-position: top;
	text-align: center;
}
#Contact{
	text-align: center;
}
.contactForm{
	margin: auto;
	position: relative;
	text-align: left;
	height:	100%;
	width:50%;
	left:	0;
	float:left;
	display: block;
}
.contactForm > form{
	position: relative;
	margin: auto;
	align-self: center;
	padding-left: 6%;
	outline: 0;
	user-select: none;
	display: block;
}
*:focus{
	outline: none;
}
input[type=text] {
	width:80%;
	border: none;
	background-color: #C12328;
	color: white;
}
input[type=submit],input[type=reset]{
	width: 40%;
	border: none;
	background-color: #C12328;
	color:white;
}
input[type=reset]{
	width:10%;
}
.info{
	position: relative;
	top: 2px;
	text-align: left;
}
.message{
	height:125px;
}
.contactInfo{
	margin: auto;
	position:relative;
	float: left;
	width: 50%;
}
.icons{
	position: relative;
	height:100px;
}
.fa{
	padding:10px;
}
.fa:before{
	height:200px;
}
.fa:after{
	height:200px;
}
#childContact{
	height:auto;
	top:50%;
	transform: translateY(-50%);
}
.contactColumns{
	margin: auto;
	position: relative;
	display: block;
	width: 75%;
	height: 300px;
	padding: 5%;
}
.parent{
	height:100%;
	min-height: 100%;
	overflow: hidden;
}
.child{
	height: 85%;
	position: relative;
}
#child1{
	width: 100%;
}
@media only screen and (max-width: 1140px) {
	.landingShoe{
		margin: auto;
		position: absolute;
		top: 600px;
		left: 0;
		right: 0;
	}
	#release{
		top:300px;
	}
	.exploreButton{
		font-size: 25px;
		color: black;
		top:550px;
	}
}
