/* Pages */
.page{
	height: 100%;
	min-height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
#Landing{
	display: block;
	background-image: url('../pics/greyAngleBack.png');
	background-position: bottom;
}
.landingShoe{
	margin: auto;
	position: absolute;
	right: 0;
	top: 200px;
	width:	800px;
	height: 525px;
	/*background-image: url('../pics/jordan8.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;*/
	z-index: 99;
}
.landingShoe > img{
	margin: auto;
	height: 100%;
	width: 100%;
}
#release{
	margin: auto;
	position: absolute;
	top: 150px;
	font-size: 50px;
	padding: 10%;
}
.exploreButton{
	position: absolute;
	margin: auto;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: .5%;
	padding-bottom: .5%;
	font-size: 20px;
	top: 420px;
	left: 15%;
	border: 1px solid black;
	cursor: pointer;
}
.exploreButton:hover{
	color: white;
	background-color: black;
}
#Events{
	background-image: url('../pics/greyAngleBackTop.png');
	background-position: top;
	text-align: center;
}
#Music{

}
#Contact{
	text-align: center;
}
.contactForm{
	margin: auto;
	position: relative;
	text-align: left;
	height:	100%;
	width:80%;
	left:	0;
	display: block;
}
.contactForm > form{
	position: relative;
	margin: auto;
	align-self: center;
	padding-left: 6%;
	break-after: column;
	outline: 0;
	user-select: none;
}
*:focus{
	outline: none;
}
input[type=text] {
	width:100%;
	border: none;
	background-color: #d1d1d1;
}
input[type=submit],input[type=reset]{
	width: 40%;
	border: none;
	background-color: #d1d1d1;
}
.info{
	position: relative;
}
.message{
	height:100px;
}
.contactInfo{
	margin: auto;
	position:relative;
	width: 50%;
	right: 0;
}
.icons{
	position: relative;
	height:100px;
}
.fa{
	padding:10px;
}
.fa:before{
	height:200px;
}
.fa:after{
	height:200px;
}
.contactColumns{
	columns:2;
}
#childContact{
	height:auto;
	top:50%;
	transform: translateY(-50%);
}
.parent{
	height:100%;
	min-height: 100%;
	overflow: hidden;
}
.child{
	height: 85%;
	position: relative;
}
#child1{
	width: 100%;
}
@media only screen and (max-width: 1140px) {
	.landingShoe{
		margin: auto;
		position: absolute;
		top: 600px;
		left: 0;
		right: 0;
	}
	#release{
		top:300px;
	}
	.exploreButton{
		font-size: 25px;
		color: black;
		top:550px;
	}
}
